@import "tailwindcss";

:root {
  --background: #010a10;
  --cardbg: #06131b;
  --foreground: #13fdfd;
}

@theme inline {
  --color-background: var(--background);
  --color-cardbg: var(--cardbg);
  --color-foreground: var(--foreground);
}
/* Custom container */
@layer components {
  .container_my {
    @apply w-full mx-auto  px-4  sm:px-6  lg:px-8 xl:px-16 2xl:px-20;
  }
  .topSubHeading {
    @apply text-sm sm:text-lg font-light uppercase text-foreground mb-1 sm:mb-2;
  }
  .heading {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold text-white mb-1 sm:mb-2;
  }
  .subHeading {
    @apply text-xl sm:text-2xl md:text-3xl font-bold text-white;
  }
  .contextText {
    @apply text-base sm:text-lg md:text-xl font-normal text-[#BEBEBE];
  }
  .mainTopBottomPadding {
    @apply pt-8 pb-8 sm:pt-12 sm:pb-12 lg:pt-16 lg:pb-16;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010a10;
    --cardbg: #06131b;
    --foreground: #13fdfd;
  }
}

body {
  background: var(--background);
  color: #ffffff;
}
.glow-line {
  position: absolute;
  left: -30%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    #13fdfd,
    #a78bfa,
    #13fdfd,
    transparent
  );
  filter: blur(1px);
  animation: glow-move 3s linear infinite;
}

@keyframes glow-move {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(400%);
    opacity: 0;
  }
}

.glow-line-360 {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    90deg,
    transparent,
    #13fdfd,
    #13fdfd,
    #13fdfd,
    transparent
  );
  height: 6px;
  width: 500px;
  top: 50%;
  right: 50%;
  transform: translate(50%, 10%);
  filter: blur(11px);
  animation: rotate-line 6s linear infinite;
}

@keyframes rotate-line {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
