@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
/* Custom container */
@layer components {
  .container_my {
    @apply w-full mx-auto  px-4  sm:px-6  lg:px-8 xl:px-16 2xl:px-20;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.glow-line {
  position: absolute;
  left: -30%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    #60a5fa,
    #a78bfa,
    #22d3ee,
    transparent
  );
  filter: blur(1px);
  animation: glow-move 3s linear infinite;
}

@keyframes glow-move {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(400%);
    opacity: 0;
  }
}
